// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';



.main-menu{
    
    li{
        font-size: 1.2rem;
        
        a{
            color: darkgrey;
            transition: all 0.2s;
            text-decoration: none;

            &:hover{
                background-color: lightgray;
                color: black;
            }
        }
    }
}
